<div class="p-4 md:p-8 lg:p-12 z-0">
  <div class="flex justify-center pb-8">
    <%# <select class="select select-bordered w-full max-w-xs"> %>
      <%= search_form_for @q do |f| %>
        <div class="flex items-center input input-bordered input-xs px-0 md:input-sm md:px-0">
          <div class="px-2">
            <%= f.label :title_cont, 'チームを選択', class: 'font-semibold' %>
          </div>
          <div class="pr-2">
            <%= f.select :title_cont, @teams.map { |t| [t.name, t.name] }, include_blank: '全て' %>
          </div>
          <div class="">
            <%= f.submit '検索', class: 'btn btn-primary btn-xs md:btn-sm' %>
          </div>
        </div>
      <% end %>
    <%# </select> %>
  </div>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @videos.each do |video| %>
      <div class="bg-white overflow-hidden rounded-lg">
        <div class="p-4 relative" style="padding-bottom: 56.25%;">
          <div class="absolute inset-0 object-cover object-center w-full"><%= link_to image_tag(video.thumbnail_url, alt: video.title, class: 'w-full h-full hover:opacity-75'), video_path(video) %></div>
        </div>
        <div class="bg-gray-100 shadow-lg h-20 px-4">
          <p class="text-sm text-gray-800 pt-2 pb-0 line-clamp-2"><%= video.title %></p>
          <% if logged_in? %>
            <div class="flex flex-row-reverse text-red-400 md:text-lg pt-1">
              <%= render 'videos/likes/likes', video: %>
              <div class="pr-4 text-primary text-center">
                <%= render 'videos/bookmarks/bookmarks', video: %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex justify-center my-6">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
