<div class="p-5 md:p-10 lg:px-24 lg:py-14">
  <div class="w-full">
    <p class="md:text-lg"><%= @video.title %></p>
    <iframe class="mb-3 w-full aspect-video" src="https://www.youtube.com/embed/<%= @video.video_id %>" frameborder="1"></iframe>
    <div class="flex">
      <% if logged_in? %>
        <div class="flex pl-1 text-xl md:text-2xl">
          <div class="text-primary pr-4">
            <%= render 'videos/bookmarks/bookmarks', video: @video %>
          </div>
          <div class="text-red-400">
            <%= render 'videos/likes/likes', video: @video %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-400">
  <div class="comment-form">
    <%= render 'videos/comments/form', video: @video, comment: @comment %>
  </div>
  <div id="comments">
    <%= render partial: 'videos/comments/comment', collection: @comments %>
    <div class="flex justify-center my-6">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
