<%= form_with(model: [video, comment], id: dom_id(comment, 'form'), class: 'w-full py-1') do |f| %>
  <%= render 'shared/error_messages', object: comment %>
  <!-- comment form -->
  <div class="w-full bg-white rounded-lg px-3">
    <div class="flex flex-wrap -mx-3 my-1">
      <div class="w-full md:w-full px-3 my-1 mt-2">
        <%= f.label :body, 'コメント', class: 'py-3 text-gray-800 font-bold' %>
        <%= f.text_area :body, class: 'bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white', placeholder: 'コメントを入力' %>
        <div class="py-3">
          <%= f.submit class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
