<body class="bg-white font-family-karla h-screen">
  <div class="w-full flex flex-wrap">
    <!-- Login Section -->
    <div class="w-full flex flex-col">
      <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
        <p class="text-white text-center text-2xl">ログイン</p>
        <div class="flex flex-col pt-3 md:pt-8">
          <%= form_with url: admin_login_path, id: 'login-form' do |f| %>
            <div class="flex flex-col pt-4">
              <%= f.label :email, User.human_attribute_name(:email), class: 'text-white form-label text-lg' %>
              <%= f.email_field :email, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div class="flex flex-col pt-4">
              <%= f.label :password, User.human_attribute_name(:password), class: 'text-white form-label text-lg' %>
              <%= f.password_field :password, class: 'form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <%= f.submit 'ログイン', class: 'w-full bg-yellow-400 text-white font-bold text-lg hover:bg-yellow-600 p-2 mt-8 rounded-md', id: 'test_login_button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
