<div id="header" class="fixed h-16 top-0 navbar bg-yellow-400 drop-shadow-md md:drop-shadow-xl px-2 md:px-4 z-10">
  <div class="flex-1">
    <%= link_to 'League Highlight', root_path, class: "btn btn-ghost normal-case text-sm md:text-xl md:mr-3" %>
  </div>
  <div class="flex-none">
    <%= link_to videos_path, class: "md:btn md:btn-sm md:btn mr-2 inline-block" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="hidden md:inline-block">動画を探す</span>
    <% end %>
  </div>
  <div class="flex-none gap-0 md:gap-2">
    <% unless logged_in? %>
      <ul class="flex md:px-1">
        <li><%= link_to 'ログイン', login_path, class: 'flex-1 px-2 text-xs md:mr-1' %></li>
        <li><%= link_to '会員登録', signup_path, class: 'flex-2 px-2 text-xs md:mr-1' %></li>
      </ul>
    <% end %>
    <% if logged_in? %>
      <!-- Avatar -->
      <div id="header-avatar-dropdown" class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag current_user.avatar_url %>
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li><%= link_to 'マイページ', profile_path %></li>
          <li><%= link_to 'プロフィール編集', edit_profile_path %></li>
          <li><%= link_to 'ブックマークした動画', bookmarks_profile_path %></li>
          <li>
            <%= link_to 'ログアウト',
                        logout_path,
                        data: { turbo_method: :delete, turbo_confirm: 'ログアウトします' } %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
